div{
    width: 1000px;
    height: 1000px;
    background-image: url(../1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div h1{
    background-color: goldenrod;
    z-index: -1;
    color: red;
    
    filter: blur(10px);
    border: 1px black;
    border-style: dashed dotted double inset;
    border-radius: 50px;
}
